/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 26, 2024, 2:20:31 PM
    Author     : manhc
*/


#listProd {
    margin-top: 30px;
}

#addPro {
    margin-top: 30px;
}

.btn-transparent {
    background-color: #ffffff;
    color: inherit;
    border: 1px solid #000000;
    transition: transform 0.2s ease; /* Thêm hiệu ứng chuyển đổi */
}

.btn-transparent:hover {
    border-color: currentColor; /* Giữ viền khi trỏ chuột vào */
}

.btn-transparent:active {
    transform: scale(0.90); /* Thu nhỏ nút khi được nhấn */
}